body{

font-family:Arial;
background:#0f2027;
background:linear-gradient(to right,#2c5364,#203a43,#0f2027);
color:white;
margin:0;

}

.header{

background:black;
padding:20px;
font-size:26px;
text-align:center;

}

.card{

background:white;
color:black;
width:800px;
margin:auto;
margin-top:30px;
padding:25px;
border-radius:12px;

}

.topcard{

background:#27ae60;
width:600px;
margin:auto;
margin-top:30px;
padding:25px;
border-radius:15px;
text-align:center;

}

.bar{

background:#ddd;
height:30px;
border-radius:20px;

}

.fill{

background:#2ecc71;
height:30px;
border-radius:20px;
text-align:center;
color:white;

}

button{

background:#27ae60;
color:white;
border:none;
padding:12px 25px;
border-radius:8px;
cursor:pointer;

}

table{

width:100%;
border-collapse:collapse;

}

td,th{

padding:10px;
border-bottom:1px solid #ddd;

}

img{

width:100%;

}
